body {
    margin:0;
    padding:0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word
}
h1,h2,h3,h4,h5,h6{
    font-weight: 900; 
    color: #000;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
main{
    display: block;
    background-color: #FFF; 
}
.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p{
    margin-bottom: 40px;
}

section.module:Last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content{
    padding: 40px 0;
    background: #ece7d5; /*cor de fundo*/
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Responsavel pelo: Efeito parallax*/
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
}

section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000, 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000, 100%);
    background:linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000, 100%);

}
section.module.parallax-1{
    background-image: url("https://github.com/ivanlourencogomes/parallax/blob/master/img/london.jpg?raw=true");
}

section.module.parallax-2{
    background-image: url("https://github.com/ivanlourencogomes/parallax/blob/master/img/amsterdam.jpg?raw=true");
}
section.module.parallax-3{
    background-image: url("https://github.com/ivanlourencogomes/parallax/blob/master/img/veneza.jpg?raw=true");
}
section.module.parallax-4{
    background-image: url("https://cdn.pixabay.com/photo/2016/10/02/12/15/manila-1709394_960_720.jpg");
}
section.module.parallax-5{
    background-image: url("https://cdn.pixabay.com/photo/2020/02/09/20/42/marriage-proposal-4834488_960_720.jpg");
}

section.module.parallax-6{
    background-image: url("https://raw.githubusercontent.com/ivanlourencogomes/parallax/master/img/porto.jpg");
}


section.module.parallax h1{
    color: #FFF;
    text-align: center;
    font-size: 38px;
    z-index: 50;
    text-transform: uppercase;

}

footer{
    background-color:#e2dbc7;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 0.8em;
    padding: 5px; }

footer > a {
    color: #444037;
    text-decoration: none;
    font-style: bold;
}
a:hover{
    text-decoration: underline;
    color: #444037;
}